
.imagenprincipal{
    position: relative;
    display: inline-block;
    text-align: center;

}

    img{
       
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
     
    }




























/*
.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
   
    
   
    }
 
.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
font-family: apple-system;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    font-size: 200px; 
    text-align: center;
    
}

#textopagina {
    
    font-family: 'Montserrat';
    font-size: 62px;
   
  

}
.presentation{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 30px;
   
    
}
#foto2{
   
    width: 30%;
    padding-top: 60px;
    padding-bottom: 70px;
         
} 

#stylehr {
    border-top: 1px solid #8c8b8b;
    font-weight: 40%;
    margin-left: 140px;
    margin-right: 140px;
}




#foto3{
    width: 32%;
    padding-top: 60px;
    padding-bottom: 70px;
    padding-right: 200px;
}
#ultimoparrafo{
    font-family: 'Montserrat';
    font-size: 30px;
    margin-right: 100px;
    padding-right: 100px;
    padding-left: 200px;
    list-style-type:none;
    list-style: lower-latin;
    
}



hr{
    padding-top: 30px;
}*/