body {
text-align: border-left width 40px;
text-align: border-right width 40px;
}

img{
display: block;
margin-left: auto;
margin-right: auto;
width: 90%;

}

.contenedor{
    position: relative;
    display: inline-block;
    text-align: justify;
}
  
.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: 'Montserrat';
    transform: translate(-50%, -50%);
    color: whitesmoke;
    font-size: 250px;
    text-align: center;
 
}

#textopagina {
    
    font-family: 'Montserrat';
    font-size: 55px;
   
  

}
.presentation{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 30px;
   
    
}
#foto2{
   
    width: 30%;
    padding-top: 60px;
    padding-bottom: 70px;
         
} 



#foto3{
    width: 32%;
    padding-top: 60px;
    padding-bottom: 70px;
    padding-right: 200px;
}
#ultimoparrafo{
    font-family: 'Montserrat';
    font-size: 38px;
    margin-right: 100px;
    padding-right: 100px;
    padding-left: 400px;
    list-style-type:none;
    list-style: lower-latin;
    size: 1772px;
        
}
 
.tabulador {
margin-left: 75px;
}