
.contenedor{

    display: block;
    text-align: center;
    position: relative;
  
}
  

#imagen1{

    width: 1400px;
    height: 80%;
  
}


.centrado{
  
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: 'Montserrat';
    transform: translate(-50%, -50%);
    color: whitesmoke;
    font-size: 130pt;
    text-align: center;

}


.presentation{
    display: block;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 30px;
    font-family: 'Montserrat';
    font-size: 23pt;

}


#foto2{
    
    width: 650px;
    padding-top: 1%;
    
} 


h2{

font-size: 23pt;

}


#foto3{
  
    width: 500px;
    margin-left: 20%;
    padding-top: 1%;
    padding-bottom: 30px;
     
}


#ultimoparrafo{

    font-family: 'Montserrat';
    font-size: 17pt;
    margin-left: 19.5%;
    
        
}
 

.tabulador {

margin-left: 75px;

}

